.container{
    width: 95%;
    padding: 1rem auto;
    margin: 7rem auto 0;
    position: relative;
}
.logo{
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 14rem;
}
.login-form>form>input,div>input{
    display: block;
    width: 100%;
    height: 3rem;
    margin-bottom: 1rem;
    border: solid gray;
    border-radius: 6px;
    padding-left: 1rem;
}
.login-form>form>input:last-child{
    background-color: #3897f1;
    border: none;
    padding-left: 0 !important;
    font-size: 1.2rem;
    color: white;
}
.login-form>form>input:last-child:active{
    background-color: #74b5f2;
}
.pwd-box{
    position: relative;
}
.pwd-eye{
    position: absolute;
    width: 1.5rem;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    cursor: pointer;
}
.line{
    width: 100%;
    height: 0.2rem;
    background-color: gray;
    position: relative;
}
.line::after{
    content: "OR";
    width: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    text-align: center;
    font-weight: bold;
    color: gray;
}
.signup{
    margin-top: 1.5rem;
    width: 100%;
    text-align: center;
    color: gray;
}
.dark-font{
    color: black;
    font-weight: bold;
}
.log-failed {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
     display: none; 
    background-color: white;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.log-failed>div{
    color: red;
}
.log-failed>div>img{
    width: 5rem;
    display: block;
    margin:2rem auto;
}
.log-failed-btn{
    padding: 0.5rem;
    margin: auto;
    display: block;
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
