*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.frame{
  width: 22rem;
  height: 38rem;
  border: 2px solid black;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #ffffff;
}